body {
  font-family: serif;
  background-color: #333333;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  padding: 20px;
  margin-bottom: 100px;
}

@keyframes titleAnimation {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
}

header h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap;
  text-align: center;
  animation: titleAnimation 1.5s;
}

header p {
  opacity: 0.6;
  color: yellow;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

main h1{
  font-size: 50px;
  padding: 20px;
  text-align: left;
}

h1.first{
  margin-bottom: 50px;
}

main h1::before{
  content:"⚽" ;
}

.contents li {
  position: relative;
  /* opacity:0;
  transform:translateY(50px);
  transition: 0.8s; */
}

/* .contents li.show{
  opacity:1;
  transform:none;
} */

.contents li.show h2,
.contents li.show h3,
.contents li.show p,
main .contents li.show img {
  opacity: 1;
  transform: none;
}

.contents li:not(:first-of-type) {
  margin-top: 200px;
}

.contents li:nth-of-type(odd) .contentsText {
  right: 0;
}

.contents li:nth-of-type(even) .contentsText {
  align-items: flex-start;
}

.contents li:nth-of-type(odd) img {
  transform: translate(-50px, 50px);
}
.contents li:nth-of-type(even) img {
  margin-left: auto;
  transform: translate(70px, 70px);
  /*右下から出てくるアニメーション*/
}

.contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: -60px;
}

.contents h2 {
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(20, 20, 20, 0.8);
  padding: 10px 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-25px);
  transition: 0.9s 0.3s; /*0.3s遅れて0.9sの移動が開始される。*/
}

.contents h3 {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(253, 249, 23, 0.8);
  color: red;
  padding: 10px 30px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  opacity: 0;
  transform: translateX(30px);
  transition: 0.8s 0.2s;
}

.contents p {
  line-height: 2;
  background-color: #555555;
  font-size: 14px;
  max-width: 340px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: justify;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s 0.5s;
}

.contents img {
  width: 65%;
  display: block;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: rgb(15, 11, 11);
}

footer a {
  background-color: yellow;
  display: block;
  width: 120px;
  height: 120px;
  text-decoration: none;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  padding: 5px;
}

footer p{
  font-size: 30px;
  margin-bottom: 10px;
}

section{
  padding: 10px;
  margin: 20px;
}

section li,section p{
  line-height: 2;
}

section li{
  font-size: 20px;
  color: rgb(0, 238, 255);
}

/*レスポンシブ*/

@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }

  body {
    font-family: serif;
    background-color: #333333;
    color: #ffffff;
    overflow-x: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  header {
    padding: 20px;
    width: 100%;
  }

  @keyframes titleAnimation {
    0% {
      letter-spacing: 0.5em;
      opacity: 0;
    }
  }

  header h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    white-space: nowrap;
    text-align: center;
    animation: titleAnimation 1.5s;
  }

  header p {
    opacity: 0.6;
    color: yellow;
    font-size: 10px;
    line-height: 1.5;
  }

  main {
    max-width: 480px;
    width: 90%;
    margin: 20px;
  }

  .contents li {
    position: relative;
    /* opacity:0;
    transform:translateY(50px);
    transition: 0.8s; */
  }

  /* .contents li.show{
    opacity:1;
    transform:none;
  } */

  .contents li.show h2,
  .contents li.show h3,
  .contents li.show p,
  main .contents li.show img {
    opacity: 1;
    transform: none;
  }

  .contents li:not(:first-of-type) {
    margin-top: 150px;
  }

  .contents li:nth-of-type(odd) .contentsText {
    right: 0%;
  }

  .contents li:nth-of-type(even) .contentsText {
    align-items: flex-start;
  }

  .contents li:nth-of-type(odd) img {
    transform: translate(-25px, 25px);
  }
  .contents li:nth-of-type(even) img {
    margin-left: auto;
    transform: translate(35px, 35px);
    /*右下から出てくるアニメーション*/
  }

  .contentsText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: -10px;
  }

  .contents{
    margin-bottom: 150px;
  }

  .contents h2 {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 5px 10px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(25px);
    transition: 0.9s 0.3s; 
  }

  .contents h3 {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(253, 249, 23, 0.8);
    color: red;
    padding: 5px 15px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateX(15px);
    transition: 0.8s 0.2s;
  }

  .contents p {
    max-height: 250px;
    line-height: 1.2;
    background-color: #555555;
    font-size: 8px;
    max-width: 180px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: justify;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s 0.5s;
  }

  .contents img {
    width: 70%;
    display: block;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
  }

  footer {
    margin-top: 100px;
    text-align: center;
    padding: 25px;
    background-color: rgb(15, 11, 11);
  }

  footer a {
    background-color: yellow;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-decoration: none;
    position: fixed;
    right: 0;
    bottom: 0;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    padding: 5px;
  }

  footer p{
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 2;
  }

  section{
    padding: 10px;
    margin: 10px;
  }
  
  section li,section p{
    line-height: 2;
  }
  
  section li{
    font-size: 14px;
    color: rgb(0, 238, 255);
  }

  section p{
    font-size: 12px;
  }

  main h1{
    font-size: 20px;
    padding: 10px;
    text-align: left;
  }
  
  h1.first{
    margin-bottom: 30px;
  }
  
  main h1::before{
    content:"⚽" ;
  }

}
